@import "tailwindcss";

@theme {
  --color-primary-color-green: #1F4842;
  --color-secondary-color-green: #B8F59D;
  --color-tertiary-color-green: #ECF4E9;
  --color-gradient-green: #00927D;
  --color-line-gray: #EDEDEF;
  --color-text-login: #898989;
}

::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f5; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00927D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1F4842;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00927D #f4f4f5;
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
    transform: translateY(10px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.animate-fade-in {
  animation: fadeIn 0.7s ease-in-out forwards;
}